html {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}
#unic1 {

cursor:wait;
animation: subha3  linear 1s infinite ;
}
@keyframes subha3{
to{
background-color: blue;
}
from{
border-color: aqua;
}

}

#unic2 {
  cursor: wait;
  animation: subha1  linear 1s infinite ;
}
@keyframes subha1{
  to{
  background-color: aqua;
  }
  from{
  border-color: blue;
  }
  
  }


.name {
  height: 5vh;
  width: 100vw;
  background-color: yellow;
}

.name1 {
  height: 5vh;
  font-size: 4vh;
  text-align: center;
  /* animation: subha 3s linear infinite; */
}

@keyframes subha {
  0% {
    transform: translateX(-19vw);
  }

  30% {
    transform: translateX(22vw);
  }

  50% {
    transform: translateX(55vw);
  }

  80% {
    transform: translateX(65vw);
  }

  100% {
    transform: translateX(97vw);
  }
}

.container {
  display: flex;
  height: 95vh;
  width: 100vw;
  overflow: hidden;
}

.left {
  height: 95vh;
  width: 40vw;
  /* border: 2px solid black; */
  background-color: #1c2333;

}

.left1 {
  height: 30%;
  width: 100%;
  background-color: #3d2828;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

img {
  width: 10vh;
  height: 10vh;

}

ul li {
  list-style: none;
  color: white;
  margin: 2vh;

}

.right {
  height: 95vh;
  width: 60vw;
  background-color: black;
  overflow: visible;
}

.right1 {
  height: 100%;
  width: 100%;
  background-color: #1c2333;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-content: center; */
  overflow: scroll;
  /* flex-direction: column; */
}

.rightunder {
  height: 200px;
  width: 180px;
  background-color: #153e9e;


}

.rightunder:hover {
  height: 205px;
  width: 185px;

  background-color: #22040449;


}

.rightunder1 {
  height: 70%;
  width: 100%;

  /* border-radius: 7px; */
  background-image: url("https://media.istockphoto.com/id/2101175462/photo/trekking-path-in-mountains-at-summer-sunset.jpg?s=1024x1024&w=is&k=20&c=EuwAQgptF73BKCwFbMUUyWgZfDl8oPTLpwOow2E-Ueo=");
  background-size: cover;
}

.rightunder1:hover {
  height: 72%;
  width: 104%;
  cursor: pointer;
}

.rightunder2 {
  height: 30%;
  width: 100%;
  border-radius: 7px;
  background-color: #a2acc3;
  color: #131613;
}

.rightunder2 p {
  text-align: center;
}

.left2 {
  height: 70%;
  width: 100%;
  background-color: #8e2525;
  border-radius: 7px;

}

#rightundera .rightunder1 {
  height: 70%;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/670720/pexels-photo-670720.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}

#rightunderb .rightunder1 {
  height: 70%;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/2865901/pexels-photo-2865901.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}

#rightunderc .rightunder1 {
  height: 70%;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/576494/pexels-photo-576494.jpeg");
}

#rightunderd .rightunder1 {
  height: 70%;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/1510149/pexels-photo-1510149.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}

#rightundere .rightunder1 {
  height: 70%;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/1280162/pexels-photo-1280162.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}

#rightunderf .rightunder1 {
  height: 70%;
  width: 100%;
  background-image: url("https://imgs.search.brave.com/_AYeE8lS7t0pTekwaAgQSckOkT84SbmDFR2IB5ZuCjE/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy90/aHVtYi8wLzA5L0tL/XyUyODEyNSUyOS5q/cGcvNTEycHgtS0tf/JTI4MTI1JTI5Lmpw/Zw");
}

#rightunderg .rightunder1 {
  height: 70%;
  width: 100%;
  background-image: url("subha_1.png");
}

#rightunderh .rightunder1 {
  height: 70%;
  width: 100%;
  background-image: url("https://static.toiimg.com/thumb/imgsize-23456,msid-92037952,width-600,resizemode-4/92037952.jpg");
}
#rightunderi .rightunder1 {
  height: 70%;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1613281512736-55bd4a24f0a6?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

#rightunderj .rightunder1 {
  height: 70%;
  width: 100%;
  background-image: url("https://media.istockphoto.com/id/1204977605/photo/concept-of-teenage-love-or-affection-young-man-proposing-to-smiling-excited-girlfriend.jpg?s=1024x1024&w=is&k=20&c=E12noAXlsTrMz6aondcLwuMpmbTAq10ibhjxhuq6WX8=");
}
#rightunderk .rightunder1 {
  height: 70%;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1505428215601-90f0007b9e83?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

#rightunderl .rightunder1 {
  height: 70%;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/1131575/pexels-photo-1131575.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
#rightunderm .rightunder1 {
  height: 70%;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/3889785/pexels-photo-3889785.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
#rightundern .rightunder1 {
  height: 70%;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/1024963/pexels-photo-1024963.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
#rightundero .rightunder1 {
  height: 70%;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/2739305/pexels-photo-2739305.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
#rightunderp .rightunder1 {
  height: 70%;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/1449670/pexels-photo-1449670.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
#rightunderq .rightunder1 {
  height: 70%;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/1378723/pexels-photo-1378723.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
#rightunderr .rightunder1 {
  height: 70%;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/1417255/pexels-photo-1417255.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
#rightunders .rightunder1 {
  height: 70%;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/258421/pexels-photo-258421.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
#rightundert .rightunder1 {
  height: 70%;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/792726/pexels-photo-792726.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
#rightunderu .rightunder1 {
  height: 70%;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/1194036/pexels-photo-1194036.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
#rightunderv .rightunder1 {
  height: 70%;
  width: 100%;
  background-image: url("https://media.istockphoto.com/id/650097030/photo/happy-couple-talking.jpg?s=1024x1024&w=is&k=20&c=qIjtzsANzCPZHaJxmP0DOwQ1woPu5OFiOoM_ByPz0s4=");
}
#rightunderw .rightunder1 {
  height: 70%;
  width: 100%;
  background-image: url("https://cdn.pixabay.com/photo/2023/03/16/02/10/couple-7855777_1280.jpg");
}
#rightundery .rightunder1 {
  height: 70%;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/694458/pexels-photo-694458.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
#rightunderz .rightunder1 {
  height: 70%;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/4069292/pexels-photo-4069292.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
#rightunder1 .rightunder1 {
  height: 70%;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/1879877/pexels-photo-1879877.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
#rightunder2 .rightunder1 {
  height: 70%;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/3289156/pexels-photo-3289156.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
#rightunder3 .rightunder1 {
  height: 70%;
  width: 100%;
  background-image: url("https://imgs.search.brave.com/Ff5_WvuJPKAYEXyYVy91cULU-xV8OzZ_Fzc4nAkg3ls/rs:fit:200:200:1:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy9i/L2JhL0hpcmFuX2lu/X0NvbmZlcmVuY2Uu/anBn");
}
#rightunder4 .rightunder1 {
  height: 70%;
  width: 100%;
  background-image: url("https://imgs.search.brave.com/pii5kawuHs0kGlhkbdpVlgZQEnYyqcoEsX-LnlEpedI/rs:fit:500:0:0:0/g:ce/aHR0cDovL3N0YXJz/dW5mb2xkZWQuY29t/L3dwLWNvbnRlbnQv/dXBsb2Fkcy8yMDE3/LzA3L0Rldi5qcGc");
}
#rightunder5 .rightunder1 {
  height: 70%;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/1666779/pexels-photo-1666779.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
#rightunder6 .rightunder1 {
  height: 70%;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/1134204/pexels-photo-1134204.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
#rightunder7 .rightunder1 {
  height: 70%;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/805002/pexels-photo-805002.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
#rightunder8 .rightunder1 {
  height: 70%;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/247908/pexels-photo-247908.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
#rightunder9 .rightunder1 {
  height: 70%;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/1066801/pexels-photo-1066801.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
#rightunder10 .rightunder1 {
  height: 70%;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/9266931/pexels-photo-9266931.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
.left2under {
  height: 70%;
  width: 100%;
  background-color: #251d1d;
  border-radius: 7px;
}

.left2under img {
  height: 100%;
  width: 100%;
}

.leftsubha {
  height: 30%;
  width: 100%;
  background-color: #090934;
  border-radius: 7px;
  position: relative;
}

.amit {
  height: 5px;
  width: 100%;
  background-color: white;
  border-radius: 7px;
  position: absolute;
  left: 0vh;
  top: 15vh;
}

.sovan {
  height: 17px;
  width: 18px;
  background-color: blue;
  border-radius: 50%;
  position: absolute;
  left: -2%;
  top: 14vh;
}

.khokan {
  position: relative;
  left: 26vw;
  top: 3vh;

}

.surajit {
  position: relative;
  left: 10vw;
  top: -8vh;
  width: 4vw;
}

.rupa {
  position: relative;
  left: 19vw;
  top: -18vh;
  width: 4vw;


}

.priya {
  height: 5vh;
  width: 100%;
  font-size: 2vh;
  color: greenyellow;
  position: absolute;
  top: -1px;
  left: auto;
  background-color: red;
}

.left p {
  text-align: center;
  font-size: 4vh;
}

.subha1 {
  position: absolute;
  left: 0px;
  top: -1px;
  font-size: 4vh;
}

.subha2 {
  position: absolute;
  left: 36vw;
  top: -1px;
  font-size: 4vh;


}

.subha3 img {
  position: relative;
  height: 1%;
  width: 5%;
  top: -26vh;
  left: 32vw;
}

.subha3 input {
  position: relative;
  height: 8%;
  width: 11%;
  top: -27vh;
  left: 31.5vw
}

.humberger {
  display: none;

}

#cross {
  display: none;
}
.subha img{
width: 44px;
height: 5vh;
}
/*--------------------------------------------------------------------------------------  */

/* ------------------------------------------------------------------------------------- */

@media (max-width:1200px) {
  body {

    height: 100vh;
    width: 100vw;

  }

  .right {
    width: 100vw;
  }

  .humberger {
    display: block;
    height: 44px;
    width: 44px;
    position: fixed;
    top: 0px;
    left: 0px;
  }

  .left {
    position: fixed;
    width: 200px;
    left: -100vw;
    transition: all 1s;
  }
  .leftsubha img {
    width: 4vh;
    height: 3vh;
  
}
  .left1{
    position: relative;
  }
  .left1 #cross{
    position: absolute;
    top: 1px;
    left: 139px;
    height: 30px;
  display: block;
  }
  .surajit {
    position: absolute;
    left: 14vw;
    top: 5vh;
    width: 32px;
  }
  .khokan {
    position: absolute;
    left: 14vw;
    top: 11vh;
    width: 32px;
  }
.left p{
  font-size: 2vh;

}
.priya{
  font-size: 2vh;
}

 
  .right1 img {
    width: 6vh;
    height: 5vh;
  }
  .rupa {
    position: absolute;
    left: 10vw;
    top: 8vh;
    width: 32px;
  }
  .subha2 {
    position: absolute;
    left: 0vw;
    top: 98px;
    font-size: 2vh;
    color: aqua;
  }
  .subha1 {
    position: absolute;
    left: 0px;
    top: 126px;
    font-size: 2vh;
    color: aqua;
  }
  .subha3 img {
    position: relative;
    
    top: 17vh;
    left: 6vw;
  }
  .subha3 input {
    position: relative;
    height: 30%;
    width: 30%;
    top: 17vh;
    left: 5.5vw;
  }
}

/* ----------------------------------------------------------------------------------- */
@media (max-width:800px) {
  body {

    height: 100vh;
    width: 100vw;

  }

  .right {
    width: 100vw;
  }

  .humberger {
    display: block;
    height: 44px;
    width: 44px;
    position: fixed;
    top: 0px;
    left: 0px;
  }

  .left {
    position: fixed;
    width: 200px;
    left: -100vw;
    transition: all 1s;
  }
  .leftsubha img {
    width: 4vh;
    height: 3vh;
  
}
  .left1{
    position: relative;
  }
  .left1 #cross{
    position: absolute;
    top: 1px;
    left: 139px;
    height: 30px;
  display: block;
  }
  .surajit {
    position: absolute;
    left: 19vw;
    top: 5vh;
    width: 32px;
  }
  .khokan {
    position: absolute;
    left: 19vw;
    top: 11vh;
    width: 32px;
  }
.left p{
  font-size: 2vh;

}
.priya{
  font-size: 2vh;
}

 
  .right1 img {
    width: 6vh;
    height: 5vh;
  }
  .rupa {
    position: absolute;
    left: 10vw;
    top: 8vh;
    width: 32px;
  }
  .subha2 {
    position: absolute;
    left: 0vw;
    top: 98px;
    font-size: 2vh;
    color: aqua;
  }
  .subha1 {
    position: absolute;
    left: 0px;
    top: 126px;
    font-size: 2vh;
    color: aqua;
  }
  .subha3 img {
    position: relative;
    
    top: 17vh;
    left: 12vw;
  }
  .subha3 input {
    position: relative;
    height: 30%;
    width: 30%;
    top: 17vh;
    left: 12vw;
  }
}